@charset "utf-8";
/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4f260b;
    font-family: "A1 Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
/* ヘッダー */

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 6.53% 0 2.51%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}
h1 {
    width: 226.78px;
}
.pc_nav ul {
    display: flex;
}
.pc_nav li {
    width: 105px;
    margin-left: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #ffff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}
.pc_nav li :first-child {
    margin-left: 0px;
}
.slider img {
    width: 100%;
}
/* メイン部分 */
.background {
    background-color: #e8d9bf;
}
main {
    max-width: 1000px;
    padding: 10px;
    margin: 0 auto;
}
.first {
    padding-top: 100px;
    margin-bottom: 70px;
    text-align: center;
    font-size: 30px;
}
.title {
    font-size: 82px;
    margin-bottom: 45px;
    line-height: 1.3863;
    text-align: center;
}
span {
    display: block;
}
.every {
    font-size: 23px;
    line-height: 1.652;
    text-align: center;
}
/* about us */
.second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}
.aboutusimages {
    width: 50%;
}
.aboutus {
    width: 50%;
    padding-left: 7.5%;
    box-sizing: border-box;
}
.aboutus_logo {
    width: 272px;
    padding-top: 50px;
}
.coffee {
    font-size: 44px;
    padding-top: 40px;
    padding-bottom: 30px;
    line-height: 1.5;
}

.aboutus_text {
    font-size: 16px;
    line-height: 1.625;
    padding-bottom: 35px;
    width: 410px;
}

/* MENU */
.menu_area {
    text-align: center;
    padding-top: 100px;
}
.menu_text {
    margin: 0 auto;
    width: 151px;
    height: 78px;
}
.menu {
    display: flex;
    justify-content: space-between;
    height: 300px;
    padding-top: 45px;
}
.about_menu {
    max-width: 30%;
}
.drink {
    margin-top: -20px;
    padding-left: 10px;
    padding-bottom: 23px;
    color: #d30202;
    font-size: 38px;
    text-align: left;
}
.about_drink {
    text-align: left;
    font-size: 17px;
    line-height: 1.47;
    width: 300px;
}

.gallery {
    margin: 0 auto;
    width: 245px;
    padding-top: 100px;
}
/* Event */
/* .event_area {
} */
.event_image {
    margin: 0 auto;
    width: 173px;
    padding-top: 100px;
    padding-bottom: 40px;
}

.event_text {
    background-color: #ffff;
    border: 3px solid #4f260b;
    display: flex;
    /* justify-content: space-around; */
    /* flex-flow: column;
    align-items: center; */
    /* padding: 42px 160px;
    margin: 0 auto;
    vertical-align: middle; */
}
.event_ {
    padding-top: 45px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    align-items: center;
    margin: 0 auto;
}
.event {
    font-size: 23px;
    width: 700px;
}
.event_day {
    display: inline-block;
    text-align: left;
}

.event_content {
    display: inline-block;
    margin-left: 60px;
    text-align: left;
    text-decoration: underline;
    text-decoration-color: black;
    padding-bottom: 25px;
}

/* access */
.access {
    max-width: 1920px;
    background-color: #e8d9bf;
}
.map {
    padding-top: 40px;
}
.access_image {
    width: 214px;
    padding-top: 80px;
    margin: 0 auto;
}
iframe {
    margin: 0 auto;
    max-width: 100%;
}

/* information */
footer {
    max-width: 1000px;
    margin: 0 auto;
}

.locate_name {
    display: flex;
    margin: 0 auto;
}

.design_cafe_logo_footer {
    padding-top: 70px;
    width: 226px;
}

.locate_info {
    padding-top: 70px;
    padding-left: 60px;
    text-align: left;
    font-size: 20px;
    text-align: 1.1;
}

.locate_about {
    padding-bottom: 25px;
}

.copy {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 70px;
}

.to_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 125px;
}

/* スマホメニュー消す */
.sp_nav {
    display: none;
}
.sp_btn {
    display: none;
}

@media screen and (max-width: 1024px) {
    /* header */
    .pc_nav {
        display: none;
    }

    .sp_btn {
        position: absolute;
        display: block;
        top: 10px;
        right: 10px;
        height: 30px;
        cursor: pointer;
        z-index: 100;
    }
    .sp_btn span {
        background-color: #ffff;
        width: 33px;
        height: 2px;
        display: block;
        position: relative;
        top: 10px;
        transition: 0.3s;
    }

    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        background-color: white;
        width: 33px;
        height: 2px;
        display: block;
        position: absolute;
        transition: 0.3s;
    }
    .sp_btn span::before {
        bottom: 10px;
    }
    .sp_btn span::after {
        top: 10px;
    }

    .open span {
        background-color: transparent;
    }

    .open span::before {
        bottom: 0px;
        transform: rotate(45deg);
    }
    .open span::after {
        top: 0px;
        transform: rotate(135deg);
    }
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: rgba(000, 000, 000, 0.8);
        width: 100%;
    }
    .sp_nav ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .sp_nav li {
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        padding: 15px;
        color: #ffff;
        font-family: "A1 Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
            "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E",
            "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    }
}
